/ {
	rm_motor {
		motor0: motor0{
			compatible = "dji,motor";
            is_m3508;
			id = <1>;
            rx_id = <0x201>;
            tx_id = <0x200>;
			gear_ratio = "19.20";
			status = "okay";
			can_channel = <&canbus1>;
			controllers = <&angle_pid &speed_pid>;
			capabilities = "angle", "speed";
		};

		motor1: motor1{
			compatible = "dji,motor";
            is_m3508;
			id = <2>;
            rx_id = <0x202>;
            tx_id = <0x200>;
			gear_ratio = "19.20";
			status = "okay";
			can_channel = <&canbus1>;
			controllers = <&angle_pid &speed_pid>;
			capabilities = "angle", "speed";
		};
	};

	pid {
		angle_pid: angle_pid {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "2";
			k_d = "0";
		};
		speed_pid: speed_pid {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "3";
			k_d = "0";
			detri_lpf = "0.95";
		};
	};
	sbus0: sbus0 {
		compatible = "ares,sbus";
		status = "okay";
	};
};
